<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css" >
</head>
<body>
    <header>
        <div class="container">
            <div class="top-header flex-between">
                <a href="/" class="logo flex-between">
                    <div>
                        <p class="logo-top">Быхов</p>
                        <p class="logo-bottom">Велосипедный</p>
                    </div>
                    <img src="./images/logo.svg" class="logo-img" />
                </a>
                <div class="partners">
                    <img src="./images/es.png" />
                    <img src="./images/rb.png" />
                    <img src="./images/undp.png" />
                </div>
            </div>
            <div class="flex-between">
                <div class="nav">
                    <a href="/" class="nav-item active">Маршруты</a>
                    <a href="/" class="nav-item">Статьи</a>
                    <a href="/" class="nav-item">О нас</a>
                    <a href="/" class="nav-item">Объекты</a>
                    <a href="/" class="nav-item">Навигатор</a>
                    <a href="/" class="nav-item">Кабинет</a>
                </div>
                <div class="account flex-between">
                    <p class="account-title">Иван Иванов</p> 
                    <img class="account-avatar" src="./images/avatar.png" />
                </div>
            </div>
        </div>
    </header>
    <section class="main-content">
<div class="article bg-white">
            <div class="container">
        <div class="flex-between main-article-container">
            <div class="main-article">
                <h1>Основные причины выбрать велоспорт</h1>
                <p>Велоспорт — это основа здорового образа жизни для людей любого
                     пола и возраста. 
                    Спорт и, в частности, велоспорт — это отличное средство для 
                    снятия напряжения и стресса, борьбы с депрессией и поддержания
                     себя в хорошей физической форме. Почему? Сейчас расскажем!</p>
            </div>
            <div class="main-article-img">
                <img class="account-avatar" src="./images/article.png" />
            </div>
        </div>
        <div class="article-content">
            Прогулка на велосипеде — это отличная зарядка для вашей сердечно-сосудистой системы, которая положительно сказывается на всем вашем здоровье.
Сердце — это тоже мышца, и когда вы даете ей нагрузку, она укрепляется и работает более эффективно. Чем вы здоровее, тем лучше снабжаются кровью внутренние органы.
 Когда вы занимаетесь спортом, частота пульса меняется в периоды нагрузки и отдыха, а мышцы, которые вы нагружаете во время занятий, менее подвержены травмам и меньше болят от повседневных действий.

<h4>Полезен для здоровья</h4>

Ежедневные занятия велоспортом также снижают риск диабета, так как физическая нагрузка позволяет лучше контролировать уровень инсулина. Примечание: если для вас это актуально, обязательно берите с собой что-то сладкое (сахар, желе) и/или небольшой перекус.

<h4>Поднимает настроение и борется с сезонной депрессией</h4>

Проще говоря, когда вы едете на велосипеде, вы забываете о своих беспокойствах. Физическая нагрузка действует как настоящий естественный антидепрессант. Настроение поднимает кислород, в большом количестве поступающий в организм во время тренировки, и сама физическая нагрузка.

Особенно это актуально зимой, когда возрастает риск сезонной депрессии. Эта форма депрессии хорошая известна жителям Скандинавии, но встречается и в других странах. Она вызвана недостатком солнечного света. Зимой дни короче, солнца меньше, а погода – совершенно непредсказуема. Все это может повлиять на ваше самочувствие и настроение.

<h4>Велоспорт для снижения веса</h4>

Будем честны: для того, чтобы похудеть или поддерживать постоянный вес, одного раза на велосипеде будет недостаточно. Результата можно добиться, только занимаясь регулярно и часто, постепенно наращивая уровень сложности.

Велоспорт — это тренировка на выносливость, но не только. Во время занятий сжигаются калории и жир. Но, конечно, вам необходимо следить за питанием. Правил правильного питания не так много, просто следуйте им и поддерживайте стабильный вес!

Спорт, в частности, велоспорт — это основа здорового образа жизни. Если вы еще не пробовали кататься на велосипеде, начните в этом году! И не забудьте поделиться с нами своими впечатлениями.
        </div>
          
            <div class="match-articles">
                <h5>Похожие статьи:</h5>
                <a href="#">Пример похожей статьи 1</a>
                <a href="#">Пример похожей статьи 2</a>
                <a href="#">Пример похожей статьи 3</a>
            </div>
          
            </div>
        </div>
    </section>
    <footer>
        <div class="container flex-between">
            <div class="address-block">
                <div class="ontop">
                    Наверх
                </div>
                <p class="phone">+375 29 123 98 98</p>
                <div class="mail">example@gmail.com</div>
            </div>
            <div class="footer-nav">
                <a href="#" class="footer-nav-item">Маршруты</a>
                <a href="#" class="footer-nav-item">Статьи</a>
                <a href="#" class="footer-nav-item">О нас</a>
                <a href="#" class="footer-nav-item">Объекты</a>
                <a href="#" class="footer-nav-item">Навигатор</a>
                <a href="#" class="footer-nav-item">Кабинет</a>
            </div>
            <div class="footer-text">
                Сайт разработан в рамках реализации инициативы «Быхов-инновационный», 
                в рамках проекта «Поддержка экономического развития на местном уровне 
                в Республике Беларусь», который финансируется Европейским союзом (ЕС)
                 и реализуется Программой развития ООН (ПРООН) в партнерстве 
                 с Министерством экономики Республики Беларусь
            </div>
            <div class="footer-logo">
                <a href="/" class="logo flex-between">
                    <div>
                        <p class="logo-top">Быхов</p>
                        <p class="logo-bottom">Велосипедный</p>
                    </div>
                    <img src="./images/logo.svg" class="logo-img" />
                </a>
                <div class="copy">&copy; 2020 Быхов Велосипедный</div>
            </div>
        </div>
    </footer>
</body>
</html>