<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css" >
</head>
<body>
    <button id="login-button">Вход</button>
    <div class="overflow" id="login-modal">
        <div class="modal bg-white">
            <div class="close"></div>
            <h2 class="text-center">Вход</h2>
        <div class="login-form-item">
                <div class="label bold">Email</div>
                <input class="login-form-input input" type="text" 
                placeholder="example@gmail.com">
        </div>
        
        <div class="login-form-item">  
                <div class="label bold">Пароль</div>
                <input class="login-form-input input" type="text" 
                placeholder="Введите пароль">
            </div>
            <button class="main-button big-button button questions-form-button width100">Войти</button>
            <div class="login-form-bottom text-center">
                <a href="#" class="forgot-password">Забыли пароль?</a>
                <p class="login-form-bottom-text">
                    У меня нет аккаунта 
                    <a href="#" class="signup-link">Регистрация</a>
                </p>
            </div>
        </div> 
    </div>   
    <script src="./modal-login.js"></script>                          
</body>
</html>