<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css" >
</head>
<body>
    <header>
        <div class="container">
            <div class="top-header flex-between">
                <a href="/" class="logo flex-between">
                    <div>
                        <p class="logo-top">Быхов</p>
                        <p class="logo-bottom">Велосипедный</p>
                    </div>
                    <img src="./images/logo.svg" class="logo-img" />
                </a>
                <div class="partners">
                    <img src="./images/es.png" />
                    <img src="./images/rb.png" />
                    <img src="./images/undp.png" />
                </div>
            </div>
            <div class="flex-between">
                <div class="nav">
                    <a href="/" class="nav-item active">Маршруты</a>
                    <a href="/" class="nav-item">Статьи</a>
                    <a href="/" class="nav-item">О нас</a>
                    <a href="/" class="nav-item">Объекты</a>
                    <a href="/" class="nav-item">Навигатор</a>
                    <a href="/" class="nav-item">Кабинет</a>
                </div>
                <div class="account flex-between">
                    <p class="account-title">Иван Иванов</p> 
                    <img class="account-avatar" src="./images/avatar.png" />
                </div>
            </div>
        </div>
    </header>
    <section class="main-content">
        <div class="type-route">
            <div class="container">
                <div class="navigation">
                    <i class="back"></i>
                    <span class="navigation-title">Назад</span>
                </div>
        
                <h2>Кафе “Замок Сапеги”</h2>
   
             <div class="flex-between">
                 <div class="object-map object-item">
                    <img src="./images/object-map.png" />
                 </div>
                 <div class="object-slider object-item">
                    <img src="./images/object-slider.png" />
                 </div>
             </div>
             <div class="flex-between">
                 <div class="object-desc">
                    <div class="object-desc-item">
                        <i class="pin"></i>
                        <span>г. Быхов, ул. Гришина, 13а</span>
                    </div>
                    <div class="object-desc-item">
                        <i class="contact"></i>
                        <span>8 02231 71-101 | example@gmail.com</span>
                    </div>
                 </div>
                 <div class="button reverse-button small-button">
                    Посмотреть видео
                    <i class="youtube"></i>
                 </div>
             </div>
             <div class="object-information ">
                <i class="info"></i>
                <span>Описание предоставляемых услуг, описание 
                    предоставляемых услуг, описание предоставляемых 
                    услуг, описание предоставляемых услуг, описание 
                    предоставляемых услуг, описание предоставляемых 
                    услуг.</span>
             </div>
             <div class="object-content">
                <h3>Планировка и архитектура</h3>

                <p>Замковый комплекс состоял из нескольких каменных корпусов, создававших в плане неправильный четырёхугольник размерами 75×70 м.
                </p>
                <p>С севера внутренний двор замыкался каменной стеной с выходом на городской вал. Западая сторона замкового комплекса, обращённая к торговой площади, была застроена корпусами казарм, имела посередине въездные ворота с подъёмным мостом и фланкировалась по углам восьмигранными оборонительными башнями.
            </p>
                <p>К югу от башни тянулась каменная стена, позже заменённая деревянными корпусами. За ними размещался каменный двухэтажный служебный корпус, примыкавший к дворцу. Вытянутое здание самого дворца главным удлинённым фасадом было ориентировано на восток, к Днепру, было накрыто двускатной черепичной крышей, по высоте почти равной двум этажам. К середине восточного и торцового южного фасадов дворца прилегают гранёные башни, ранее бывшие пятиярусными и завершались двухъярусными куполами — „баньками“ (влияние архитектуры нидерландского ренессанса). Фасад дворца, обращённый внутрь двора, был оформлен двухъярусной арочной галереей со входами во внутренние помещения. Аркада первого этажа была каменной с крестовыми сводами, на втором этаже галерея была деревянной. Под зданием размещены больше сводчатые подвалы.
            </p>
                <p>Первый этаж (также с мощными крестовыми сводами)занимали служебные помещения, камфы, мастерские. Второй этаж, предназначенный для жилья хозяев, делился на две половины — женскую и мужскую. На торце размещалась приёмная зала, в башнях — часовня, библиотека и кабинет хозяина. Поперечные каменные стены ритмично делят здание на приблизительно одинаковые помещения, имеют анфиладную связь. Такие же поперечные несущие стены, сводчатые перекрытия и анфиладную связь помещений имели и другие каменные корпуса дворцово-замкового комплекса. На сегодняшний день утрачены многие элементы декора строений, завершения башен, первоначальная внутренняя планировка.
            </p>
                <p>Кроме жилой резиденции оборонительные приспособления имели также городские ворота (об их архитектуре сведений не сохранилось) и каменное здание синагоги, размещавшееся неподалёку от могилёвских ворот.
            </p>
                <h3>Реставрация</h3>
                
                <p>Первый этаж (также с мощными крестовыми сводами)занимали служебные помещения, камфы, мастерские. Второй этаж, предназначенный для жилья хозяев, делился на две половины — женскую и мужскую. На торце размещалась приёмная зала, в башнях — часовня, библиотека и кабинет хозяина. Поперечные каменные стены ритмично делят здание на приблизительно одинаковые помещения, имеют анфиладную связь. Такие же поперечные несущие стены, сводчатые перекрытия и анфиладную связь помещений имели и другие каменные корпуса дворцово-замкового комплекса. На сегодняшний день утрачены многие элементы декора строений, завершения башен, первоначальная внутренняя планировка.
            </p>
                <p>Кроме жилой резиденции оборонительные приспособления имели также городские ворота (об их архитектуре сведений не сохранилось) и каменное здание синагоги, размещавшееся неподалёку от могилёвских ворот.
            </p>
                <h3>Новый замок</h3>
                
                <p>Новый Быховский замок занимал участок берега в виде неправильного прямоугольника размером 77×100 м, с юга, запада и севера был укреплён глубокими и широкими (до 22—27 м) рвами, а по краям площадки — земляными валами с бастионами. По периметру детинца размещались жилые и хозяйственные постройки, в том числе комплекс каменного дворцово-паркового ансамбля. «Приступная» западная сторона замка с въездными воротами была дополнительно укреплена восьмигранными 2-ярусными кирпичными башнями, имевшими по 7-8 бойниц и фланкировавших подступы к воротам. Ворота также были каменными, 2-ярусными со сводчатым перекрытием, с куполом — «галкой» и флюгером с гербом Сапег.
            </p>
                <p>Двустворчатые полотнища ворот были достаточно укреплены решёткой — герсой и специальной системой железных запоров. К воротам вёл деревянный мост, посередине которого стояла дополнительная «решётка из дерева столярной работы».
            </p>
            </div>
            
       
            </div>
        </div>
    </section>
    <footer>
        <div class="container flex-between">
            <div class="address-block">
                <div class="ontop">
                    Наверх
                </div>
                <p class="phone">+375 29 123 98 98</p>
                <div class="mail">example@gmail.com</div>
            </div>
            <div class="footer-nav">
                <a href="#" class="footer-nav-item">Маршруты</a>
                <a href="#" class="footer-nav-item">Статьи</a>
                <a href="#" class="footer-nav-item">О нас</a>
                <a href="#" class="footer-nav-item">Объекты</a>
                <a href="#" class="footer-nav-item">Навигатор</a>
                <a href="#" class="footer-nav-item">Кабинет</a>
            </div>
            <div class="footer-text">
                Сайт разработан в рамках реализации инициативы «Быхов-инновационный», 
                в рамках проекта «Поддержка экономического развития на местном уровне 
                в Республике Беларусь», который финансируется Европейским союзом (ЕС)
                 и реализуется Программой развития ООН (ПРООН) в партнерстве 
                 с Министерством экономики Республики Беларусь
            </div>
            <div class="footer-logo">
                <a href="/" class="logo flex-between">
                    <div>
                        <p class="logo-top">Быхов</p>
                        <p class="logo-bottom">Велосипедный</p>
                    </div>
                    <img src="./images/logo.svg" class="logo-img" />
                </a>
                <div class="copy">&copy; 2020 Быхов Велосипедный</div>
            </div>
        </div>
    </footer>
</body>
</html>