<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css" >
</head>
<body>
    <header>
        <div class="container">
            <div class="top-header flex-between">
                <a href="/" class="logo flex-between">
                    <div>
                        <p class="logo-top">Быхов</p>
                        <p class="logo-bottom">Велосипедный</p>
                    </div>
                    <img src="./images/logo.svg" class="logo-img" />
                </a>
                <div class="partners">
                    <img src="./images/es.png" />
                    <img src="./images/rb.png" />
                    <img src="./images/undp.png" />
                </div>
            </div>
            <div class="flex-between">
                <div class="nav">
                    <a href="/" class="nav-item active">Маршруты</a>
                    <a href="/" class="nav-item">Статьи</a>
                    <a href="/" class="nav-item">О нас</a>
                    <a href="/" class="nav-item">Объекты</a>
                    <a href="/" class="nav-item">Навигатор</a>
                    <a href="/" class="nav-item">Кабинет</a>
                </div>
                <div class="account flex-between">
                    <p class="account-title">Иван Иванов</p> 
                    <img class="account-avatar" src="./images/avatar.png" />
                </div>
            </div>
        </div>
    </header>
    <section class="main-content">
        <div class="type-route">
            <div class="container">
                <div class="navigation">
                    <i class="back"></i>
                    <span class="navigation-title">Назад</span>
                </div>
                <div class="flex-between">
                    <h2><span class="green">Исторические</span> маршруты</h2>
                    <div class="routes-settings">
                        <i class="filter"></i>
                        <i class="search"></i>
                    </div>
                </div>        
                <div class="historic-routes">
                    <div class="historic-routes-item flex-between">
                        <div class="historic-routes-item-frame">
                            <img src="./images/frame.png" />
                        </div>
                        <div class="historic-routes-item-content">
                            <h3>Название исторического маршрута 1</h3>
                            <div class="clocks flex">
                                <div class="clocks-item clocks-item-miles">8 км</div>
                                <div class="clocks-item clocks-item-hours">1.5 ч</div>
                                <div class="clocks-item clocks-item-objects">5 объектов</div>
                            </div>
                            <div class="historic-routes-item-text">
                                С севера внутренний двор замыкался каменной стеной 
                                с выходом на городской вал. Западая сторона замкового 
                                комплекса, обращённая к торговой площади, была застроена 
                                корпусами казарм, имела посередине въездные ворота с 
                                подъёмным мостом и фланкировалась по углам восьмигранными 
                                оборонительными башнями. Маршрут созан на основе самых 
                                интересных объектов города и района.
                            </div>
                            <div class="historic-routes-item-buttons flex">
                                <button class="reverse-button small-button button">Редактировать маршрут</button>
                                <button class="main-button small-button button">Начать поездку</button>
                            </div>
                        </div>
                    </div>
                    <div class="historic-routes-item flex-between">
                        <div class="historic-routes-item-frame">
                            <img src="./images/frame.png" />
                        </div>
                        <div class="historic-routes-item-content">
                            <h3>Название исторического маршрута 2</h3>
                            <div class="clocks flex">
                                <div class="clocks-item clocks-item-miles">8 км</div>
                                <div class="clocks-item clocks-item-hours">1.5 ч</div>
                                <div class="clocks-item clocks-item-objects">5 объектов</div>
                            </div>
                            <div class="historic-routes-item-text">
                                С севера внутренний двор замыкался каменной стеной 
                                с выходом на городской вал. Западая сторона замкового 
                                комплекса, обращённая к торговой площади, была застроена 
                                корпусами казарм, имела посередине въездные ворота с 
                                подъёмным мостом и фланкировалась по углам восьмигранными 
                                оборонительными башнями. Маршрут созан на основе самых 
                                интересных объектов города и района.
                            </div>
                            <div class="historic-routes-item-buttons flex">
                                <button class="reverse-button small-button button">Редактировать маршрут</button>
                                <button class="main-button small-button button">Начать поездку</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination flex-between">
                    <i class="pagination-left"></i>
                    <span>1</span>
                    <span class="active">2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                    <i class="pagination-right"></i>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container flex-between">
            <div class="address-block">
                <div class="ontop">
                    Наверх
                </div>
                <p class="phone">+375 29 123 98 98</p>
                <div class="mail">example@gmail.com</div>
            </div>
            <div class="footer-nav">
                <a href="#" class="footer-nav-item">Маршруты</a>
                <a href="#" class="footer-nav-item">Статьи</a>
                <a href="#" class="footer-nav-item">О нас</a>
                <a href="#" class="footer-nav-item">Объекты</a>
                <a href="#" class="footer-nav-item">Навигатор</a>
                <a href="#" class="footer-nav-item">Кабинет</a>
            </div>
            <div class="footer-text">
                Сайт разработан в рамках реализации инициативы «Быхов-инновационный», 
                в рамках проекта «Поддержка экономического развития на местном уровне 
                в Республике Беларусь», который финансируется Европейским союзом (ЕС)
                 и реализуется Программой развития ООН (ПРООН) в партнерстве 
                 с Министерством экономики Республики Беларусь
            </div>
            <div class="footer-logo">
                <a href="/" class="logo flex-between">
                    <div>
                        <p class="logo-top">Быхов</p>
                        <p class="logo-bottom">Велосипедный</p>
                    </div>
                    <img src="./images/logo.svg" class="logo-img" />
                </a>
                <div class="copy">&copy; 2020 Быхов Велосипедный</div>
            </div>
        </div>
    </footer>
</body>
</html>